

.left-card, .right-card  {
  background: linear-gradient(136deg, rgba(59, 32, 225, 39%) 1%, #3B20E1 -14%, #15057B 24%, #090232 63%, #000000 100%);
  color: white;
}



.left-card, .right-card {
  width: 100%;
  margin-bottom: 10px; 
  border-radius: 15px;
}


.large-card{
  height: 257px;
}

.small-card{
  
    height: 150px;

}

.full-card{
  width: 203%;
  background: linear-gradient(136deg, rgba(59, 32, 225, 39%) 1%, #3B20E1 -14%, #15057B 24%, #090232 63%, #000000 100%);
  color: white;
  height: 150px;
  border-radius: 15px;
}

