body {
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p, span, div, a {
  font-family: 'Montserrat Alternates', sans-serif;
}
.App {
  text-align: center;
  max-width: 480px; /* Simulate mobile width */
  margin: 0 auto;   /* Center the layout */
  border-radius: 15px; /* Add rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  overflow: auto; 
  height: 100vh;
}

.content {
  padding: 20px;
}
